* {
	margin:0;
	padding: 0;
	font-family: 'Russo One', sans-serif;
	box-sizing:border-box;
}

/*.navbar-custom --- changes the navbar background to the custom color of your choice
.navbar-custom {
	background-color:#4470AD;
}

 --- changes the navbar brand color to your choice of color.
.navbar-custom .navbar-brand {
	color:#AF0C15;
}
*/



#stage {
	background: url("../images/mountain1.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:fixed;
	color:white;
	height: 94vh;
	/*display:flex;*/
	align-items:center;
	padding:0;
	overflow:hidden;
	
}	

#stage-caption {
	/*font-size:1.4rem;*/
	font-weight:200;
	width:80vw;
	margin:0 auto;
	text-align:center;

}

.my-name {
	color:black;
}

#nickName {
	color:white;
}

#profession {
	color:black;
	font-size:2em;
}

#slogan {
	color:white;
	font-size:2.5em;
	margin-bottom: auto;
}

#think {
	color:#ed215b;
}

#believe {
	color:#43ed21;
}

#create {
	color:#4621ed;
}

.my-col {
	height:100vh;
	background-color: red;
	border:1px solid blue;
}

#myPic {
	height: 500px;
	width: 300px
}

p {
	font-family: 'Roboto', sans-serif;
}
